In [17]:
import pandas as pd
import numpy as np
from pprint import pprint as pp
from inspect import signature

In [3]:
pd.__version__

'0.25.3'

In [63]:
df = pd.DataFrame(
    data = [
        [1,2,3],
        [4,5,6],
        [7,8,9]
    ],
    columns = ['col1', 'col2', 'col3']
)

df

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [64]:
df = pd.DataFrame(
    data = np.array([
        [1,2,3],
        [4,5,6],
        [7,8,9]
    ]),
    columns = ['c1', 'c2', 'c3'],
    index = ['i1', 'i2', 'i3']
)

df

    c1  c2  c3
i1   1   2   3
i2   4   5   6
i3   7   8   9

In [66]:
df = pd.DataFrame(
    data = (
        [1,2,3],
        [4,5,6],
        [7,8,9]
    ),
    columns = ['c1', 'c2', 'c3']
    
)

df

   c1  c2  c3
0   1   2   3
1   4   5   6
2   7   8   9

In [67]:
df2 = pd.DataFrame(df)

df2

   c1  c2  c3
0   1   2   3
1   4   5   6
2   7   8   9

In [70]:
df3 = pd.DataFrame(
    data= {
        'col1': [1,2,3,4,5],
        'col2': [1,2,3,4,5],
        'col3': [1,2,3,4,5]
    },
    index = [1,2,3,4,5]
)

df3

   col1  col2  col3
1     1     1     1
2     2     2     2
3     3     3     3
4     4     4     4
5     5     5     5