In [2]:
import pandas as pd
import numpy as np
from pprint import pprint as pp
from inspect import signature

In [3]:
pd.__version__

'1.0.5'

In [4]:
np.__version__

'1.19.0'

In [5]:
df = pd.DataFrame({
    'col1': [1,2,3,4,5],
    'col2': ['a', 'b', 'c', 'd', 'e'],
    'col3': [True, False, False, False, True]
})

df

   col1 col2   col3
0     1    a   True
1     2    b  False
2     3    c  False
3     4    d  False
4     5    e   True

In [6]:
df = pd.DataFrame({
    'col1': [1,2,3,4,5],
    'col2': ['a', 'b', 'c', 'd', 'e'],
    'col3': [True, False, False, False, True]
}, index=['r1', 'r2', 'r3', 'r4', 'r5'])

df

    col1 col2   col3
r1     1    a   True
r2     2    b  False
r3     3    c  False
r4     4    d  False
r5     5    e   True

In [7]:
df = pd.DataFrame({
    'col1': [1,2,3,4,5],
    'col2': ['a', 'b', 'c', 'd', 'e'],
    'col3': [True, False, False, False, True]
}, columns = ['col3', 'col2', 'col1'])

df

    col3 col2  col1
0   True    a     1
1  False    b     2
2  False    c     3
3  False    d     4
4   True    e     5

In [8]:
df = pd.DataFrame({
    'col1': [1,2,3,4,5],
    'col2': ['a', 'b', 'c', 'd', 'e'],
    'col3': [True, False, False, False, True]
}, columns=['col2', 'col1'])

df

  col2  col1
0    a     1
1    b     2
2    c     3
3    d     4
4    e     5

In [10]:
df = pd.DataFrame({
    'col1': [1,2,3,4,5],
    'col2': ['a', 'b', 'c', 'd', 'e'],
    'col3': [True, False, False, False, True]
}, index = [1,2,3,4,5], columns=['col3','col2', 'col1'])

df

    col3 col2  col1
1   True    a     1
2  False    b     2
3  False    c     3
4  False    d     4
5   True    e     5

In [13]:
pp(df.shape)
pp(df.index)
pp(df.columns)

(5, 3)
Int64Index([1, 2, 3, 4, 5], dtype='int64')
Index(['col3', 'col2', 'col1'], dtype='object')

In [18]:
# df.iloc[0]
df.loc[1]

col3    True
col2       a
col1       1
Name: 1, dtype: object