In [1]:
import pandas as pd
import numpy as np
from pprint import pprint as pp
from inspect import signature

In [3]:
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [9]:
pp(df['pop'].index)
pp(df['pop'].keys())
pp(df['pop'].values)

df['pop']

RangeIndex(start=0, stop=1704, step=1)
RangeIndex(start=0, stop=1704, step=1)
array([ 8425333,  9240934, 10267083, ..., 11404948, 11926563, 12311143])

0        8425333
1        9240934
2       10267083
3       11537966
4       13079460
          ...
1699     9216418
1700    10704340
1701    11404948
1702    11926563
1703    12311143
Name: pop, Length: 1704, dtype: int64

In [12]:
pop = df['pop']

In [19]:
pp(pop.mean())
pp(pop.min())
pp(pop.max())
pp(pop.std())
pp(pop.median())
pp(pop.var())

pop.describe()

29601212.324530516
60011
1318683096
106157896.74391477
7023595.5
1.126949904109167e+16

count    1.704000e+03
mean     2.960121e+07
std      1.061579e+08
min      6.001100e+04
25%      2.793664e+06
50%      7.023596e+06
75%      1.958522e+07
max      1.318683e+09
Name: pop, dtype: float64