In [1]:
import pandas as pd
import numpy as np

from pprint import pprint as pp
from inspect import signature

In [3]:
pp( pd.__version__ )
pp( np.__version__ )

'1.0.5'
'1.19.0'

In [4]:
df = pd.DataFrame(
    data = {
        'Occupation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-01-16'],
        'Age': [37, 61]
    },
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age']
)

df

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-01-16   61

In [5]:
df['Occupation']

Rosaline Franklin         Chemist
William Gosset       Statistician
Name: Occupation, dtype: object

In [6]:
df['Born']

Rosaline Franklin    1920-07-25
William Gosset       1876-06-13
Name: Born, dtype: object

In [7]:
df['Died']

Rosaline Franklin    1958-04-16
William Gosset       1937-01-16
Name: Died, dtype: object

In [8]:
df['Age']

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [9]:
df[['Born', 'Died', 'Age']]

                         Born        Died  Age
Rosaline Franklin  1920-07-25  1958-04-16   37
William Gosset     1876-06-13  1937-01-16   61

In [10]:
df.loc['William Gosset']

Occupation    Statistician
Born            1876-06-13
Died            1937-01-16
Age                     61
Name: William Gosset, dtype: object

In [11]:
type(df.loc['William Gosset'])

pandas.core.series.Series

In [12]:
series = df['Age']
series

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [13]:
series.index

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

In [14]:
series.values

array([37, 61])

In [15]:
type(series.values)

numpy.ndarray

In [17]:
series.keys()

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

In [18]:
series

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [19]:
series.index

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

In [20]:
series.keys()

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

In [21]:
series.values

array([37, 61])

In [22]:
series.index[0]

'Rosaline Franklin'

In [23]:
series.index[1]

'William Gosset'

In [26]:
series.index[-1]

'William Gosset'