In [1]:
import pandas as pd
import numpy as np
from pprint import pprint as pp
from inspect import signature

In [3]:
df = pd.read_csv('../doit_pandas/data/scientists.csv', sep=',')

In [4]:
df.shape

(8, 5)

In [5]:
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [6]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [7]:
df.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [8]:
df.keys()

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [9]:
df.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [10]:
df['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [11]:
type(df['Age'])

pandas.core.series.Series

In [15]:
age=df['Age']

pp(age.mean())
pp(age.min())
pp(age.max())
pp(age.std())
pp(age.var())
pp(age.median())

age.describe()

59.125
37
90
18.325918413937288
335.8392857142857
58.5

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [16]:
age > age.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [19]:
pp(age[[False, True, True, True, False, False, False, True]])
pp(age[[False, True, True, True, False, False, False, True]].index)

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
Int64Index([1, 2, 3, 7], dtype='int64')

In [20]:
age[age > age.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [21]:
age

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [22]:
age + age

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [23]:
age * age

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [24]:
age + 100

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [25]:
age * 2

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [26]:
age + pd.Series([1,2,3])

0    38.0
1    63.0
2    93.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [27]:
age

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [28]:
age + 2

0    39
1    63
2    92
3    68
4    58
5    47
6    43
7    79
Name: Age, dtype: int64

In [29]:
age * 2

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [30]:
age * age

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [31]:
reverse_age = age.sort_index(ascending=False)

In [32]:
reverse_age

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [33]:
age + reverse_age

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [34]:
age + age

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64