In [1]:
import pandas as pd
import numpy as np

from pprint import pprint as pp
from inspect import signature

In [2]:
df = pd.DataFrame(
    data = {
        'col1': [1,2,3,4,5],
        'col2': ['a','b','c','d','e'],
        'col3': [.1,.2,.3,.4,.5],
        'col4': [True, True, False, False, True]
    }, index=['r1', 'r2', 'r3', 'r4', 'r5'],
    columns=['col4', 'col3', 'col2', 'col1']
)

df

     col4  col3 col2  col1
r1   True   0.1    a     1
r2   True   0.2    b     2
r3  False   0.3    c     3
r4  False   0.4    d     4
r5   True   0.5    e     5

In [3]:
df['col4']

r1     True
r2     True
r3    False
r4    False
r5     True
Name: col4, dtype: bool

In [12]:
pp(df['col3'])
pp(type(df['col3']))

r1    0.1
r2    0.2
r3    0.3
r4    0.4
r5    0.5
Name: col3, dtype: float64
<class 'pandas.core.series.Series'>

In [5]:
df['col2']

r1    a
r2    b
r3    c
r4    d
r5    e
Name: col2, dtype: object

In [6]:
df['col1']

r1    1
r2    2
r3    3
r4    4
r5    5
Name: col1, dtype: int64

In [7]:
df[[]]

Empty DataFrame
Columns: []
Index: [r1, r2, r3, r4, r5]

In [14]:
pp(df[ ['col1', 'col2'] ])
type(df[ ['col1', 'col2'] ])

    col1 col2
r1     1    a
r2     2    b
r3     3    c
r4     4    d
r5     5    e

pandas.core.frame.DataFrame

In [16]:
type(df[[]])

pandas.core.frame.DataFrame